header , nav , aside , section , article , footer {
    display: block;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.navbar-collapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-default {
  margin-top: 20px;
}

#wrapper {
    text-align: justify;
    background-color: #2C6399 !important;
}

#rowone {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}

#image {
    /*margin-left: 30px;*/
    margin-top: 35px !important;
    margin: auto;
}

#image:hover {
    overflow: hidden; 
    border: 1px solid #fff;
}

#header h1 {
    margin-top: 35px;
    font-size: 45px;
    color: black;
    font-family: Quicksand;
    color: #05265c;
}

#header h4 {
    font-size: 25px;
    color: black;
    font-family: Quicksand;
}

#overview {
    font-size: 20px;
    font-weight: normal;
    color: grey;
    font-family: Lato; 
    margin-top: 20px;   
}

#social {
    margin-top: 25px;
    vertical-align: bottom;
}

#social #fb{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #fb:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social #ln{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   margin: 0px 2px;
}

#social #ln:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social #tw{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #tw:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social #in{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #in:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
#social #you{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #you:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#social #pin{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #pin:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#social #tmblr{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #tmblr:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#social #medium{
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  margin: 0px 2px;
}

#social #medium:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.cv {
	float: right;
	background-color: #05265c;
	border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12.5px;
    /*-webkit-transition-duration: 0.4s;  Safari 
    transition-duration: 0.4s;*/
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    padding: 7px 15px;
    font-family: Lato;
}

.cv:hover {
	background-color: #fff;
	color:  #05265c;
    text-decoration: none;
}

#logo1 {
    margin-top: 35px !important;
    margin: auto;
}

#logo2 {
    margin-top: 15px !important;
    margin: auto;
}

#logo1:hover ,#logo2:hover  {
    overflow: hidden; 
    border: 2px solid #f8f8f8;
}

#rowtwo {
    padding-top: 5px;
    padding-bottom: 15px;
}

.wraup {
  margin-left: 10px !important;
}

#mainNavBarli {
  background-color: #ddd;
    display: block;
    width: 100% !important; 
}

.navbar-nav {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nav {
  padding-left: 0px !important;
}

#mainNavBarli li {     
    background: #ddd;
    display: block;
    width: 14.2857143%;  /* (100 / numItems)% */
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}​

#mainNavBarli a {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #nav li {
        display: block;
        width: 100%;
    }
}

.button1 {
    background-color: #ddd;
    color: #000; 
    position: absolute;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
}

.button1:hover {
    background-color: #fff;
    font-color: #000;
}

/*#mainNavBarli {
	display: table;
}

#mainNavBarli li {
    display: table-cell;
    width: 100%  /* (100 / numItems)% *
    text-align: center;
    border-right: 1px solid #fff;
    white-space: nowrap;
}​


#mainNavBar ul{
	list-style: none;
    font-weight: bold;
    font-family: Lato;
    width: 100%;
    text-align: center;
}*/

@media (min-width: 768px){
    .navbar-header {
         float: none; 
    }
}

@media (min-width: 768px){
    .navbar-header {
         float: none;
    }
}

.tab {
    height: 500px;
    width: auto;
    overflow: auto;
    display: none;
    background-color: #f8f8f8;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#tab1 {
    display: block;
}

#tab1 p {
  font-size: 20px;
  font-family: Quicksand;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.nav > li > a {
  width: 100% !important;
    position: relative;
    display: block;
    padding: 20px 8px !important;
}

li a.active {
    padding-bottom: auto;
    padding-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: #f8f8f8 !important;
    color: #2C6399 !important;   
}

#tab1 , #tab2 , #tab4 , #tab5 , #tab6 {
    font-family: Lato;
    color: black;
    font-size: 13px;
    margin-left: auto;
    padding-left: auto;
}

#tab1 , #tab2 , #tab4 , #tab6 > h4 {
    font-family: Lato;
    color: black;
    font-size: 20px;    
    margin-left: auto;
}

#tab1 , #tab2 , #tab4 , #tab6 > h5 {
    font-family: Lato;
    color: black;
    font-size: 18px;
    margin-left: auto;
}

#tab1 , #tab2 , #tab4 , #tab6 > h6 {
    font-family: Lato;
    color: black;
    font-size: 16px;i
    margin-left: auto;
}

#tab5 h1 {
    font-family: Quicksand;
    color: #000;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}

#tab5 h5 {
    font-family: Quicksand;
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

#tab5 h6 {
    font-family: Quicksand;
    color: #000;
    font-size: 16px;
    font-style: italic;
}

#tab3 h1 {
  font-family: Lato !important;
  font-size: 20px !important;
  font-weight: italic !important;
  color: #05265c !important;
}

button.accordion {
    background-color: #DCE0E3 !important;
    color: #444 !important;
    cursor: pointer !important;
    padding: 18px !important;
    width: 100% !important;
    border: none !important;
    text-align: left !important;
    outline: none !important;
    font-size: 15px !important;
    transition: 0.4s !important;
    margin-top: 15px !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

button.accordion:hover {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
}

#heading h1 {
    margin: 0px !important;
    font-size: 18px;
    font-weight: bold;
    font-family: Quicksand;
    float: left;
    font-weight: bolder;
    z-index: 10;
    color: #001E4F;
}

#heading h2 {
    margin: 0px !important;
    font-family: Quicksand;
    font-size: 16px;
    float: left;
    font-weight: bold;
    z-index: 10;
    color: #000;
}

#heading h3 {
    margin: 0px !important;
    font-family: Quicksand;
    font-size: 14px;
    float: left;
    z-index: 10;
}

/*.accordion #heading {
    margin: 0px !important;
    font-size: 15px;
    font-weight: bold;
    font-family: Quicksand;
    float: left;
}

.accordion #dates {
    margin: 0px;
    font-family: Quicksand;
    font-size: 15px;
    width: 15%;
    float: right;
}
*/
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    z-index: 1;
}


button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 5px;
    background-color: white;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    display: none;

    font-family: Quicksand;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

div.panel.show {
    opacity: 1;
    max-height: auto;
}

::-webkit-scrollbar {
    width: 8px;
} 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #05265c; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #000; 
}

.portfolio {
    margin: auto;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;
    height: 350px;
}

.portfolio:hover {
    border: 1px solid #777;
}

.portfolio img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.images {
  position: fixed;
  top: 0;
  left: 1px;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  display: block; 
  opacity: .99;
  background-color: #1d1d1d;
  z-index: 1;
}

/*
.images img:hover {
   width: 150%;
    height: 150%;
    -webkit-transform: rotate(360deg); /* Safari *
    transform: rotate(150deg);
}
*/

.images > img {
  position: fixed;
  top: 10%;
  margin-left: 25% !important;
  margin-right: 25% !important;
  width: 50%;
  display: block; 
  opacity: 10 !important;  
  z-index: 100000;
}

.close {
    position: fixed;
    top: 10%;
    display: block; 
    float: right !important;
    height: 40px !important;
    width: 40px !important;
    opacity: 1 !important;
    z-index: 100000;
}

.close img {
    position: fixed;
    top: 10%;
    display: block; 
    margin-left: 95%;
    margin-right: 0px;
    height: 40px !important;
    width: 40px !important;
    opacity: 1 !important;
    z-index: 100000;
}

#image1 , #image2 , #image3 , #image4 , #image5 , #image6 , #image7 , #image8 , #image9 , #image10 ,
#image11 , #image12 , #image13 , #image14 , #image15 , #image16 , #image17 , #image18 , #image19 , #image20 ,
#image21 , #image22 , #image23 , #image24 , #image25 , #image26 , #image27 , #image28 , #image29 , #image30 ,
#image31 , #image32 , #image33 , #image34 , #image35 , #image36 {
  display: none;
}

/* .images {
    opacity:1;
    background-color: #f8f8f8;
    position:fixed;
    width:700px;
    height:650px;
    border: .5px solid black;
    top:0px;
    margin: auto;
    z-index:1000;
  }
   opacity:1;
    background-color: grey;
    position:fixed;
    width:100%;
    height:100%;
    margin: auto;
    z-index:1000;
}*

#image1 {
  display: block;
}

#image1not , #image2not , #image3not , #image4not , #image5not , #image6not , #image7not , #image8not , #image9not , #image10 ,
#image11not , #image12not , #image13not , #image14not , #image15not , #image16not , #image17not , #image18not , #image19not , #image20 ,
#image21not , #image22not , #image23not , #image24not , #image25not , #image26not , #image27not , #image28not , #image29not , #image30 ,
#image31not , #image32not , #image33not , #image34not , #image35not , #image36not {
    opacity:1;
    background-color: grey;
    width:auto;
    height:600px;
    z-index:1000;
    margin-left: auto;
    margin-right: auto;
}

#image1 , #image2 , #image3 , #image4 , #image5 , #image6 , #image7 , #image8 , #image9 , #image10 ,
#image11 , #image12 , #image13 , #image14 , #image15 , #image16 , #image17 , #image18 , #image19 , #image20 ,
#image21 , #image22 , #image23 , #image24 , #image25 , #image26 , #image27 , #image28 , #image29 , #image30 ,
#image31 , #image32 , #image33 , #image34 , #image35 , #image36 {
    opacity:1;
    background-color: grey;
    width:100%
    height:600px;
    z-index:1000;
}

.close {
    float: right;
    height: 40px;
    width: 40px;
    opacity: 1;
}/*

